@{
    ViewBag.Title = "Projeto Aurora - Liera";
}
@using (Html.BeginForm("Index","Home" , FormMethod.Get)) { 

    <div class="jumbotron">
       
                <div class="page-header">
                    <h2><b>Rolagens</b></h2>
                </div>
        <div class="col-md-12">
            @foreach (int i in ViewBag.Rolagens)
            {
                <div class="col-md-2">

                    <td>Valor de: @i</td>

                </div>
                }
            
            </div>
            
        </div>
        <div class="col-md-12">

            <input class="btn btn-primary" role="button" type="submit" value="Jogar Dados" name="Submit" id="btnJogar" />
       
        </div>
        <br />
        <div class="alert-info">
            <span>@ViewBag.Pontuacao</span>
        </div>

}